@{
    ViewBag.secTitle = "内容管理列表";
    Layout = "~/Views/Shared/_layoutPartal.cshtml";
}
<style>
    .pagin li {
        float: left;
        border: 1px solid #dedede;
        height: 28px;
        line-height: 28px;
        width: 31px;
        text-align:center;
    }
</style>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="/Manager/Index">首页</a></li> 
        <li><a href="#">内容管理列表</a></li>
    </ul>
</div>


<div class="tools">
    <ul class="toolbar">
        <li><span onclick="addNews()"><img src="/images/t01.png" /></span>添加内容</li>
        <li class="click"><span><img src="/images/t03.png" /></span>删除</li>
    </ul>
</div>
<br />
<div class="tools">
    <ul class="seachform">
        <li>
            <div class="vocation">
                <label>一级栏目</label>@Html.DropDownList("ColumnId", ViewData["fristlist"] as SelectList, "--请选择--", new { @class = "selectinput", @onchange = "sDpList(this.value, 'SecCol')" }) 
            </div>
        </li>
        <li>
            <div id="SecColli">
                <label>二级栏目</label><select id="SecCol" name="SecCol" class="selectinput" onchange="sDpList(this.value, 'ThirdCol')"></select>
            </div>
        </li>
        <li>
            <div id="ThirdColli">
                <label>三级栏目</label><select id="ThirdCol" name="ThirdCol" class="selectinput" onchange="sDpList(this.value,'')"></select>
            </div>
        </li>
        <li>
            <div class="vocation">
                <input type="text" class="dfinput" id="keyword" placeholder="内容标题">
            </div>
        </li>
        <li><label>&nbsp;</label><input name="" type="submit" class="scbtn" value="查询" onclick="search()" /></li>

    </ul>
</div>
<table class="tablelist">
    <thead>
        <tr>
            <th>
                <input name="chk_list" type="checkbox" value="" id="checkboxall" />
                编号
            </th>
            <th>标题</th>
            <th>所属栏目</th>
            <th>作者</th>
            <th>添加时间</th>
            <th>首页推荐</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.data != null)
        {
            int i = 1;
            foreach (var item in ViewBag.data)
            {
                <tr>
                    <td><input name="chk_list" type="checkbox" value="@item.ID" id="checkbox_@item.ID" />  @(i++)</td>
                    <td>@item.Title</td>
                    <td>@item.Name</td>
                    <td>@item.Creater</td>
                    <td>@item.CreateTime</td>
                    <td>@(item.IsIndexRecommond==true?"是":"否")</td>
                    <td><a href="#" class="tablelink" onclick="editNews(@item.ID)">编辑</a> | <a href="#" class="tablelink" onclick="delNews(@item.ID)"> 删除</a> </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">@ViewBag.meg</td>
            </tr>
        } 
    </tbody>
</table>
<div class="tip">
    <div class="tiptop"><span>提示信息</span><a></a></div>
    <div class="tipinfo">
        <span><img src="/images/ticon.png" /></span>
        <div class="tipright">
            <p>是否确认删除信息 ？</p>
            <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
        </div>
    </div>

    <div class="tipbtn">
        <input name="" type="button" class="sure" value="确定" />&nbsp;
        <input name="" type="button" class="cancel" value="取消" />
    </div>

</div>

@*<div class="pagin">
    <div class="message">
        共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页

        <ul class="paginList">
            <li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>
            <li class="paginItem"><a href="javascript:;">1</a></li>
            <li class="paginItem current"><a href="javascript:;">2</a></li>
            <li class="paginItem"><a href="javascript:;">3</a></li>
            <li class="paginItem"><a href="javascript:;">4</a></li>
            <li class="paginItem"><a href="javascript:;">5</a></li>
            <li class="paginItem more"><a href="javascript:;">...</a></li>
            <li class="paginItem"><a href="javascript:;">10</a></li>
            <li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>
        </ul>
    </div>
</div>*@
@if (ViewBag.Url != null)
{
    @Helpers.RenderPageControl(ViewBag.Url, ViewBag.PageIndex - 1)
}
<script>
    $(function () {
       
        selectall('news'); ///全选
        var id = '@ViewBag.liId';
        $(".menuson").hide();
        $("#" + id).addClass("active");
        $("#" + id).parent().show();
        var option = '<option value="0">请选择</option>';
        $.get('/News/fristHandler?date=' + new Date(), {}, function (data) {
            if (data.code == 0) {
                var obj = eval(data.data);
                for (var i = 0; i < obj.length; i++) {
                    option += ' <option value="' + obj[i].Id + '">' + obj[i].columnName + '</option>';
                }
                $("#FriCol").html(option);
            }
            else { $("#FriCol").html(option); }
        });
    })
</script>