@{
    ViewBag.secTitle = "名师介绍";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="public_content">
    <div class="public_top">
        <img src="/images/small_banner.jpg" alt="郑大总裁高级研修项目" width="1000px" height="82px" />
    </div>
    <div class="public_left " style="border: 0px solid red;">
        <div class="id_aa">
            <div class="public_guanfang">
                <div class="public_img">
                    <img src="/images/hot.jpg" alt="报名电话" width="314px" height="82px" />
                </div>
            </div>
            <div class="new_there1">
                <div class="new_there_top1">
                    <div class="new_there_top_title1">
                        名师推荐
                    </div>
                    <div class="new_there_top_more1">
                        <a href="/Home/TeacherList">more</a>
                    </div>
                </div>
                <div class="taer1">
                    @if (ViewBag.teacher != null)
                    {
                        foreach (var item in ViewBag.teacher)
                        {
                    <div class="taer_img2">
                        <a href="@item.HtmlUrl"><img src="@item.picUrl" alt="@item.Title" width="82px" height="109px" /></a>
                        <div>
                            @item.Title
                        </div>
                    </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="box" style="border:0px solid red;height:615px">
            <div class="words_there1 pinned">
                <div class="words_there_top1">
                    <div class="words_there_title1">教务公告</div>
                    <div class="words_more">
                        <a href="/Home/StudyList">more</a>
                    </div>
                </div>
                <style type="text/css">
                    .fll1 a:hover {
                        color: #8F0002;
                    }
                </style>
                <div class="biank">
                    <ul>
                        @if (ViewBag.study != null)
                        {
                            foreach (var item in ViewBag.study)
                            {
                        <li>
                            <span class="fll1">
                                <a href="@item.HtmlUrl"> • @(item.Title.Length > 18 ? item.Title.Substring(0, 18) + "…" : item.Title)</a>
                            </span>
                        </li>
                            }
                        }
                    </ul>

                    <div style="clear: both"></div>
                </div>
                <div style="height:15px"></div>
                <div style="height:262px;width:314px;border: 0px solid #CCCCCC">
                    <div class="words_there_top1">
                        <div class="words_there_title1">快速报名</div>
                    </div>
                    <div class="biank1">
                        <div style="height:40px;width:290px;border:0px solid red;margin: 0 auto;margin-top:5px;color:#aaaaaa">
                            <div style="line-height:20px;letter-spacing:-1px"><span style="color:#8f0001;">* 温馨提示:</span>郑州大学信息学院高层培训中心郑重承诺:<br />&nbsp;所填信息仅用于招生工作,绝不外泄！</div>
                        </div>
                        <div style="width:253px;height:170px;border:0px solid red;margin: 0 auto">

                            <div style="margin-top:5px">
                                姓 名：<input type="text" name="name" id="myname" value="---请输入您的姓名---" onfocus="if(value==defaultValue){value='';this.style.color='#000'}" onblur="if(!value){value=defaultValue;this.style.color='#999'}" style="width:200px;height:20px;text-align:center;color:#999999;background:#eeeeee;border-radius:3px;;border:0px" />
                            </div>
                            <div style="margin-top:5px">
                                手 机：<input type="text" name="mobile" id="mebli" value="---请输入您的电话---" onfocus="if(value==defaultValue){value='';this.style.color='#000'}" onblur="if(!value){value=defaultValue;this.style.color='#999'}" style="width:200px;height:20px;text-align:center;color:#999999;background:#eeeeee;border-radius:3px;border:0px" />
                            </div>
                            <div style="margin-top:5px">
                                留 言：<input type="text" name="main" id="main" value="请提出您的要求" onfocus="if(value==defaultValue){value='';this.style.color='#000'}" onblur="if(!value){value=defaultValue;this.style.color='#999'}" style="width:200px;height:52px;color:#999999;background:#eeeeee;border-radius:3px;border:0px" />
                            </div>
                            <div style="margin-top:5px;text-align:center">
                                <input type="submit" value="" style="width:100px;height:27px;background:url(/images/tijia.jpg);border: 0px" onclick="mit()" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            @*<script type="text/javascript" src="js/jquery.pin.min.js"></script>
                <script>
                    $(".pinned").pin({
                        containerSelector: ".box"
                    })
                </script>*@

        </div>
    </div>
    <div class="public_right" style="height:1403px;">
        <div class="public_right_top">
            &nbsp;&nbsp;&nbsp;&nbsp;您的位置：首页  >> 名师介绍
        </div>
        <div class="public_right_content">
            <div class="numm" style="height:auto;border: 0px solid red">
                @if (ViewBag.data != null)
                {
                    int i = 1;
                    foreach (var item in ViewBag.data)
                    {
                        <div class="taer_list">
                            <div style="width: 142px;height: 198px;border: 0px solid #CCCCCC;float: left;text-align: center;">
                                <a href="@item.HtmlUrl"><img src="@item.picUrl" width="137px" height="192px" style="margin-top: 3px;" /></a>
                            </div>
                            <div class="jies">
                                <div class="jies_title">
                                    <a href="@item.HtmlUrl">@item.Title</a>
                                </div>
                                <div class="jies_content">
                                    &nbsp;&nbsp;@item.BriefMain
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
            <div style="clear:both;height:20px"></div>
          
        </div>
        @if (ViewBag.Url != null)
        {
            <div class="button1" style="margin-top:30px; position: relative;">
                <span class="page_box">

                    @if (ViewBag.Url.Count > 0)
                    {
                        List<string> pages = ViewBag.Url;
                        int curent = ViewBag.PageIndex - 1;
                        bool last = curent - 1 >= 0;
                        bool next = curent + 1 < pages.Count;

                        @* 计算页码开始和结束的数字-前后各取10页 *@
                        int total = pages.Count;
                        int begin = curent - 10;
                        int end = begin + 20;
                        <span class="num_k">共 @total 页</span>

                        if (last)
                        {

                            <a href="@pages[curent-1]" class="prev">上一页</a>
                        }
                        else
                        {
                            <a href="javascript:;" class="prev">上一页</a>
                        }

                        if (begin < 0)
                        {
                            if (end - begin < total)
                            {
                                end = end - begin;
                            }
                            begin = 0;
                        }
                        if (end > total)
                        {
                            if (begin - (end - total) >= 0)
                            {
                                begin = begin - (end - total);
                            }
                            end = total;
                        }
                        if (next)
                        {

                            <a href="@pages[curent+1]" class="next">下一页</a>
                        }
                        else
                        {
                            <a href="javascript:;" class="next">下一页</a>

                        }
                        @*<li>  <a href="@pages.Last()">@total</a></li>*@

                    }


                </span>

            </div>
        }
    </div>
    <div style="width: 1000px;clear:both;"></div>
    <div style="height:20px"></div>
</div>
<div style="clear:both"></div>